body {
  @include font-size($fs-huge);
}

main {
  margin: $spacer;
}

h1, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  > li {
    display: inline-block;
  }
}

// Links
a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}