body {
  @media (prefers-color-scheme: dark) {
    color: $text-color-dark;
    background-color: $body-bg-dark;
  }
}

main, nav {
  margin: $spacer / 2;
  @include screen(md) {
    margin: $spacer;
  }
}

h1, p, ul {
  margin: 0;
  padding: 0;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  @media (prefers-color-scheme: dark) {
    filter: grayscale(30%);
  }
}