*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

body {
  margin: 0;
  color: $text-color;
  background-color: $body-bg;
  font-family: $font-family-base;
  line-height: $line-height;
  font-feature-settings: 'palt' 1;
  font-weight: $font-weight-base;
}

nav {
  list-style: none;
  ol, ul {
    > li {
      display: inline-block;
    }
  }
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  font-size: inherit;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
