
//
// Vars
// --------------------------------------------------

@font-face {
  font-family: 'Circular';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/circular-regular.woff") format("woff")
}

// Pathes
$images: '/assets/images/' !default;

// Colors
$body-bg:                 #fff !default;
$text-color:              #222 !default;
$brand-primary:           #999 !default;
$link-color:              $brand-primary !default;
$link-hover-color:        lighten($link-color, 25%) !default;

$body-bg-dark:            #222 !default;
$text-color-dark:         #d9d9d9 !default;

// Typography
$font-family-sans-serif: 'Circular', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-weight-base:        400 !default;
$font-size-base:          16px !default;

$line-height:             1 !default;
$spacer:                  $line-height * $font-size-base !default;

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1 !default;
$headings-color:          inherit !default;

$xs-max: 480px !default;
$sm-max: 768px !default;
$md-max: 1280px !default;
$lg-max: 1440px !default;

$breakpoints: (
  'sm': 'screen and (min-width: #{$xs-max})',
  'md': 'screen and (min-width: #{$sm-max})',
  'lg': 'screen and (min-width: #{$md-max})',
  'xl': 'screen and (min-width: #{$lg-max})',
) !default;

$min-width: $xs-max !default;
$max-width: $sm-max !default;
$min-font:  40px !default;
$max-font:  72px !default;